<!doctype html>
  <html lang="sv-se">
    <head>
      <meta charset="utf-8">
      <title>Fin och mysig etta på Kungsklippan</title>
      <link rel="stylesheet" type="text/css" href="/stylesheets/main.css">
    </head>
    <body>
